<div class="admin">
    <section class="header">
        <div class="c-centered">
            <span>SKIN<sup>2</sup></span>admin panel
        </div>
    </section>

    <div class="c-centered">

      <h2>P R I N T S

        <div class="filter">
          <div id="choose-cat" class="dropdown" data-value="All">
            <div class="current">
              <div class="_content">All</div>
              <div class="caret"><i></i></div>
            </div>
            <input type="hidden"/>
            <ul></ul>
          </div>
          <div id="choose-color" class="dropdown" data-value="All">
            <div class="current">
              <div class="_content">All</div>
              <div class="caret"><i></i></div>
            </div>
            <input type="hidden"/>
            <ul>
              <li data-value="All">All</li>
              <li data-value="white">
                <div class="c-color" id="white"></div>
              </li>
              <li data-value="grey">
                <div class="c-color" id="grey"></div>
              </li>
              <li data-value="black">
                <div class="c-color" id="black"></div>
              </li>
              <li data-value="yellow">
                <div class="c-color" id="yellow"></div>
              </li>
              <li data-value="orange">
                <div class="c-color" id="orange"></div>
              </li>
              <li data-value="red">
                <div class="c-color" id="red"></div>
              </li>
              <li data-value="green">
                <div class="c-color" id="green"></div>
              </li>
              <li data-value="blue">
                <div class="c-color" id="blue"></div>
              </li>
              <li data-value="violet">
                <div class="c-color" id="violet"></div>
              </li>
              <li data-value="cream">
                <div class="c-color" id="cream"></div>
              </li>
              <li data-value="pink">
                <div class="c-color" id="pink"></div>
              </li>
              <li data-value="brown">
                <div class="c-color" id="brown"></div>
              </li>

            </ul>
          </div>
        </div>

        <div class="add-print _modal-open" data-target="add-print">Add print <span>+</span></div>
      </h2>

        <section class="prints">
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open" data-target="edit-print" data-param="45">Edit</button>
                <button class="delete">X</button>
            </div>
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open" data-target="edit-print" data-param="46">Edit</button>
                <button class="delete">X</button>
            </div>
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open" data-target="edit-print" data-param="47">Edit</button>
                <button class="delete">X</button>
            </div>
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open" data-id="48">Edit</button>
                <button class="delete">X</button>
            </div>
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open" data-id="49">Edit</button>
                <button class="delete">X</button>
            </div>
        </section>

        <h2>O R D E R S
          <div class="controls">
            <button class="radio all _active">All</button>
            <button class="radio new">New</button>
            <button class="radio progress">P</button>
            <button class="radio done">done</button>
          </div>
        </h2>

        <section class="purchases">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </section>


        <div id="edit-print" class="modal _closed" data-fetch="/prints/:param.json">

            <button class="close"></button>

            <div class="body">

            </div>

        </div>

        <div id="add-print" class="modal _closed" data-tmpl="true">

            <button class="close"></button>

            <div class="body">

            </div>

        </div>

        <datalist id="cat-list">
            <option value="Jimi Hendrix">Jimi Hendrix</option>
            <option value="James Hetfield">James Hetfield</option>
            <option value="Eric Clapton">Eric Clapton</option>
            <option value="Eddie Van Halen">Eddie Van Halen</option>
        </datalist>

    </div>

  <script id="_edit-print" type="text/html">

    <img src="/system/prints/{{= id }}/thumb/{{= print_file_name }}" alt=""/>

    <form id="edit-print-form" action="/prints/update" method="post">

      <input type="hidden" name="id" value="{{= id }}">
      <input type="text" class="required" name="name" value="{{= name }}"><br>
      <select name="color">
        <option value="white">White</option>
        <option value="grey">Grey</option>
        <option value="black">Black</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="violet">Violet</option>
        <option value="cream">Cream</option>
        <option value="pink">Pink</option>
        <option value="brown">Brown</option>
      </select>
      <input type="text" class="required" name="cat" list="cat-list" value="{{= cat }}"><br>
      <textarea name="desc" cols="30" rows="10">{{= description }}</textarea><br>
      <input type="submit" value="Edit">

    </form>

  </script>

  <script id="_add-print" type="text/html">

  <form id="add-print-form" action="/prints" method="post" enctype="multipart/form-data">

    <input type="text" class="required" name="name" placeholder="Name"><br>
    <input type="file" class="required" name="print">
    <input type="text" class="required" name="cat" list="cat-list" placeholder="Category"><br>
    <div class="colors">
      <div id="choose-color" class="dropdown small" data-value="All">
        <div class="current">
          <div class="_content">All</div>
          <div class="caret"><i></i></div>
        </div>
        <input type="hidden"/>
        <ul>
          <li data-value="All">All</li>
          <li data-value="white">
            <div class="c-color" id="white"></div>
          </li>
          <li data-value="grey">
            <div class="c-color" id="grey"></div>
          </li>
          <li data-value="black">
            <div class="c-color" id="black"></div>
          </li>
          <li data-value="yellow">
            <div class="c-color" id="yellow"></div>
          </li>
          <li data-value="orange">
            <div class="c-color" id="orange"></div>
          </li>
          <li data-value="red">
            <div class="c-color" id="red"></div>
          </li>
          <li data-value="green">
            <div class="c-color" id="green"></div>
          </li>
          <li data-value="blue">
            <div class="c-color" id="blue"></div>
          </li>
          <li data-value="violet">
            <div class="c-color" id="violet"></div>
          </li>
          <li data-value="cream">
            <div class="c-color" id="cream"></div>
          </li>
          <li data-value="pink">
            <div class="c-color" id="pink"></div>
          </li>
          <li data-value="brown">
            <div class="c-color" id="brown"></div>
          </li>

        </ul>
      </div>
      <div id="choose-color" class="dropdown small h-no-margin-right" data-value="All">
        <div class="current">
          <div class="_content">All</div>
          <div class="caret"><i></i></div>
        </div>
        <input type="hidden"/>
        <ul>
          <li data-value="All">All</li>
          <li data-value="white">
            <div class="c-color" id="white"></div>
          </li>
          <li data-value="grey">
            <div class="c-color" id="grey"></div>
          </li>
          <li data-value="black">
            <div class="c-color" id="black"></div>
          </li>
          <li data-value="yellow">
            <div class="c-color" id="yellow"></div>
          </li>
          <li data-value="orange">
            <div class="c-color" id="orange"></div>
          </li>
          <li data-value="red">
            <div class="c-color" id="red"></div>
          </li>
          <li data-value="green">
            <div class="c-color" id="green"></div>
          </li>
          <li data-value="blue">
            <div class="c-color" id="blue"></div>
          </li>
          <li data-value="violet">
            <div class="c-color" id="violet"></div>
          </li>
          <li data-value="cream">
            <div class="c-color" id="cream"></div>
          </li>
          <li data-value="pink">
            <div class="c-color" id="pink"></div>
          </li>
          <li data-value="brown">
            <div class="c-color" id="brown"></div>
          </li>

        </ul>
      </div>
    </div>
    <textarea name="desc" cols="30" rows="10" placeholder="Description"></textarea><br>
    <input type="submit" value="Add">

  </form>

  </script>

  <script id="print-item-temp" type="text/html">

    <div class="item" data-id="{{= id }}">
      <h4>{{= name }}</h4>
      <img src="/system/prints/{{= id }}/thumb/{{= print_file_name }}" alt="">
      <button class="edit _modal-open" data-target="edit-print" data-param="{{= id }}">Edit</button>
      <button class="delete" data-id="{{= id }}">X</button>
    </div>

</div>

  </script>

  <script type="text/javascript">

    var printsCtrl = {
        init: function(){
            console.log('printsCrtl initialized!');
            var self = this;
            this.$el = $('.prints');
            this.$cat_choose = $('#choose-cat');
            this.$color_choose = $('#choose-color');
            this.$el.on('click', '.delete', function(e){
                console.log('delete fired');
                self.deletePrint(e);
            });
            this.$cat_choose.on('dropdown:change', function(e){
                self.getPrints();
            });
            this.$color_choose.on('dropdown:change', function(){
                self.getPrints();
            });
            $('body').on('modal:open', function(){   //  Attach validation & ajax form
                self.pluginsInit();            //  to dynamic elements.
            });                                // Event is triggered in custom plugin
            this.pluginsInit();
            this.getPrints();
            this.getCats();

        },
        render: function(data){
            console.log('_render fired!');
            var markup = [];
            _.each(data, function(d){
                markup.push(_.template($('#print-item-temp').html(), d));
            });
            this.$el.html(markup.join(''));
        },
        getPrints: function(){
            console.log('_getPrints fired')
            var cat = this.$cat_choose.data('value'),
                color = $('#choose-color').data('value'),
                markup = [],
                self = this;
            $.get('/prints/list/' + cat + '/' + color + '.json', function(data){
                self.render(data);
            });
        },
        getCats: function(){
            console.log('_getCats init');
            $.get('/prints/cat/getcat', function(data){
                var markup = [];
                _.each(data, function(d){
                    markup.push('<li data-value="' + d.cat + '">' + d.cat + '</li>');
                });
                $('#choose-cat').find('ul').html('<li data-value="All">All</li>' + markup.join(''));
            });
        },
        deletePrint: function(e){
            var target = $(e.target).data('id'),
                self = this;
            if (confirm('Really?')) {
                $.post('/prints/destroy/' + target, function (data) {
                    if (data.status === 'true') {
                        $.jGrowl('Принт удален!', {theme: 'success'});
                        self.getPrints();
                    } else {
                        $.jGrowl('Творится какая-то хуйня!', {theme: 'error'});
                    }
                });
            }
        },
        pluginsInit: function(){
            var self = this;
            helpers();
            $('.dropdown').dropdown();
            $('.modal').modal();
            $('#edit-print-form').validate({
                errorClass: 'el_invalid',
                validClass: 'el_valid'
            });
            $('#add-print-form').validate({
                errorClass: 'el_invalid',
                validClass: 'el_valid'
            });
            $('#edit-print-form').ajaxForm({
                success: function(data){
                    if(data.status === 'true')   {
                        $.jGrowl('Принт редакирован!', {theme: 'success'});
                        $('body').trigger('modal:close');
                        self.getPrints();
                        self.getCats();
                    }else if(data.status === 'false'){
                        $.jGrowl(data.data, {theme: 'error'});
                    }
                }  ,
                error: function(){
                    $.jGrowl('Творится какая-то хуйня!', {theme: 'error'});
                }
            });
            $('#add-print-form').ajaxForm({
                success: function(data){
                    if(data.status === 'true')   {
                        $.jGrowl('Принт сохранен!', {theme: 'success'});
                        $('body').trigger('modal:close');
                        self.getPrints();
                        self.getCats();
                    }else if(data.status === 'false'){
                        $.jGrowl(data.data, {theme: 'error'});
                    }
                }  ,
                error: function(){
                    $.jGrowl('Творится какая-то хуйня!', {theme: 'error'});
                }
            });
        }
    }



    $(function(){

        printsCtrl.init();

    })

  </script>
</div>


