<div class="admin">
    <section class="header">
        <div class="c-centered">
            <span>SKIN<sup>2</sup></span>admin panel
        </div>
    </section>

    <div class="c-centered">

        <h2>P R I N T S
            <select name="choose-cat" id="choose-cat-search">
                <option value="">All</option>
                <option value="">Nature</option>
                <option value="">Art</option>
                <option value="">Icons</option>
                <option value="">Black & White</option>
            </select>
            <div class="add-print _modal-open" data-target="add-print">Add print <span>+</span></div>
        </h2>

        <section class="prints">
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open" data-target="edit-print">Edit</button>
                <button class="delete">X</button>
            </div>
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open" data-target="edit-print">Edit</button>
                <button class="delete">X</button>
            </div>
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open" data-target="edit-print">Edit</button>
                <button class="delete">X</button>
            </div>
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open">Edit</button>
                <button class="delete">X</button>
            </div>
            <div class="item">
                <h4>Moon in six pence</h4>
                <img src="/assets/tmp/print.jpg" alt="">
                <button class="edit _modal-open">Edit</button>
                <button class="delete">X</button>
            </div>
        </section>

        <h2>O R D E R S</h2>

        <section class="purchases">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </section>


        <div id="edit-print" class="modal _closed">

            <button class="close"></button>

            <form id="add-print-form" action="/prints" method="post">

                <input type="text" class="required" name="name" placeholder="Prit name"><br>
                <input type="text" class="required" name="cat" list="cat-list" placeholder="Category"><br>
                <!--<input type="file" class="required" name="print">-->
                <textarea name="desc" cols="30" rows="10" placeholder="Description"></textarea><br>
                <input type="submit" value="Edit">

            </form>

        </div>

        <div id="add-print" class="modal _closed">

            <button class="close"></button>

            <form id="edit-print-form" action="/prints/update">

                <input type="hidden" name="id" value="5">
                <input type="text" class="required" name="name" placeholder="Name"><br>
                <input type="text" class="required" name="cat" list="cat-list" placeholder="Category"><br>
                <textarea name="desc" cols="30" rows="10" placeholder="Description"></textarea><br>
                <input type="submit" value="Add">

            </form>

        </div>

        <datalist id="cat-list">
            <option value="Jimi Hendrix">Jimi Hendrix</option>
            <option value="James Hetfield">James Hetfield</option>
            <option value="Eric Clapton">Eric Clapton</option>
            <option value="Eddie Van Halen">Eddie Van Halen</option>
        </datalist>

    </div>

  <script type="text/javascript">
    $('form').validate({
        errorClass: 'el_invalid',
        validClass: 'el_valid'
    });
    $('form').ajaxForm({
       success: function(data){
           if(data.status === 'true')   {
               $.jGrowl('Принт сохранен!', {theme: 'success'});
           }else if(data.status === 'false'){
               $.jGrowl(data.data, {theme: 'error'});
           }
       }  ,
       error: function(){
           $.jGrowl('Творится какая-то хуйня!', {theme: 'error'});
       }
    });
  </script>
</div>


