/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

@import 'compass'
@import 'plugins.css'
@import 'bootstrap'
@import 'normalize.css'
@import 'skins/milk.sass'

/*Base*/
html, body
  height: 100%
  font: 100 16px Helvetica
  letter-spacing: 3px
#wrap
  height: auto !important
  margin: 0 auto -60px
  min-height: 100%

h1, h2, h3, h4, h5, h6, p, a, span, i
  font: 100 16px Helvetica
  color: #666
  margin: 0

header
  height: 60px
  border-bottom: 1px solid grey
  line-height: 60px
  background: white
  opacity: .8
  #logo
    width: 300px
    font-size: 25px
    letter-spacing: 13px

/*Common elements*/

.c-centered
  width: 1000px
  margin: 0 auto

.c-color
  width: 105px
  height: 18px
  background: orange
  &#white
    background-color: rgb(254,255,255)
    +filter-gradient(#feffff, #e0e0e0, horizontal)
    +background-image(linear-gradient(left,  rgba(254,255,255,1) 0%,rgba(224,224,224,1) 100%))
  &#grey
    background-color: rgb(196,196,196)
    +filter-gradient(#c4c4c4, #606060, horizontal)
    +background-image(linear-gradient(left,  rgba(196,196,196,1) 0%,rgba(96,96,96,1) 100%))
  &#black
    background-color: rgb(89,89,89)
    +filter-gradient(#595959, #000000, horizontal)
    +background-image(linear-gradient(left,  rgba(89,89,89,1) 0%,rgba(0,0,0,1) 100%))
  &#yellow
    background-color: rgb(239,252,55)
    +filter-gradient(#effc37, #ffbd3a, horizontal)
    +background-image(linear-gradient(left,  rgba(239,252,55,1) 0%,rgba(255,189,58,1) 100%))

  &#orange
    background-color: rgb(255,215,84)
    +filter-gradient(#ffd754, #ff7b00, horizontal)
    +background-image(linear-gradient(left,  rgba(255,215,84,1) 0%,rgba(255,123,0,1) 100%))

  &#red
    background-color: rgb(255,29,0)
    +filter-gradient(#ff1d00, #a00000, horizontal)
    +background-image(linear-gradient(left,  rgba(255,29,0,1) 0%,rgba(160,0,0,1) 100%))
  &#green
    background-color: rgb(85,234,39)
    +filter-gradient(#55ea27, #009311, horizontal)
    +background-image(linear-gradient(left,  rgba(85,234,39,1) 0%,rgba(0,147,17,1) 100%))
  &#blue
    background-color: rgb(100,212,252)
    +filter-gradient(#64d4fc, #1455e2, horizontal)
    +background-image(linear-gradient(left,  rgba(100,212,252,1) 0%,rgba(20,85,226,1) 100%))
  &#violet
    background-color: rgb(229,112,231)
    +filter-gradient(#e570e7, #5e6ed6, horizontal)
    +background-image(linear-gradient(left,  rgba(229,112,231,1) 0%,rgba(94,110,214,1) 100%))
  &#pink
    background-color: rgb(255,211,211)
    +filter-gradient(#ffd3d3, #ff7c7c, horizontal)
    +background-image(linear-gradient(left,  rgba(255,211,211,1) 0%,rgba(255,124,124,1) 100%))
  &#cream
    background-color: rgb(254,252,234)
    +filter-gradient(#fefcea, #ffea84, horizontal)
    +background-image(linear-gradient(left,  rgba(254,252,234,1) 0%,rgba(255,234,132,1) 100%))
  &#brown
    background-color: rgb(142,89,39)
    +filter-gradient(#8e5927, #261010, horizontal)
    +background-image(linear-gradient(left,  rgba(142,89,39,1) 0%,rgba(38,16,16,1) 100%))















.modal
  background: white
  padding: 40px
  width: auto
  width: 310px
  text-align: center
  z-index: 101
  +border-radius(2px)
  +box-shadow(#ccc 0 0 7px)
  +transition(all 0.5s  cubic-bezier(0.905, -0.445, 0.200, 1.650))
  position: fixed
  left: 50%
  margin-left: -155px
  +border-radius(6px)
  +box-shadow(0 3px 7px rgba(0,0,0,0.3))
  +background-clip(padding-box)
  outline: none
  .close
    position: absolute
    width: 18px
    height: 18px
    border: 0
    text-align: center
    line-height: 18px
    font-size: 14px
    +border-radius(9px)
    color: white
    background: #ccc
    top: 20px
    right: 20px
#overlay
  position: fixed
  width: 100%
  height: 100%
  background: white
  z-index: -1
  +opacity(0)
  +transition(all .5s ease)
  &._show
    z-index: 100
    +opacity(.7)
input[type="text"]
  width: 280px
  height: 32px
  font-size: 18px
  font-weight: 100
  color: #333
  border: 1px solid #ccc
  +border-radius(3px)
  padding-left: 7px
  margin-bottom: 10px
input[type="submit"]
  width: 100px
  height: 32px
  font-size: 18px
  color: white
  border: 0
  background: #8b77ff
  +border-radius(3px)
  &:hover
    background: #5bccff
textarea
  font-size: 18px
  color: #333
  border: 1px solid #ccc
  width: 280px
  padding-left: 7px
  resize: none
  margin-bottom: 10px
  +border-radius(3px)


/* Visuals */

.blured
  +filter(blur(10px))




/*Helpers*/

.h-no-margin-right
  margin-right: 0 !important
.h-no-margin-top
  margin-top: 0 !important
.h-no-margin-bottom
  margin-bottom: 0 !important
.h-no-margin-left
  margin-left: 0 !important
.h-no-margin
  margin: 0 !important


/* Validation */

.el_invalid
  +box-shadow(red 0 0 10px inset)
  border: 0 !important
label.el_invalid
  display: none !important
  visibility: hidden
  position: absolute
  left: -1000px
.el_valid
  +box-shadow(green 0 0 10px inset)
  border: 0 !important
.errorCon
  position: absolute
  left: -500px
  visibility: hidden
  display: none
  opacity: 0



/*Pages*/

@import 'apps/footer'
@import 'apps/admin'