/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

@import 'compass'
@import 'normalize.css'
@import 'skins/milk.sass'

/*Base*/
html, body
  height: 100%
  font: 100 16px Helvetica
  letter-spacing: 3px
#wrap
  height: auto !important
  margin: 0 auto -60px
  min-height: 100%

h1, h2, h3, h4, h5, h6, p, a, span, i
  font: 100 16px Helvetica
  color: #666
  margin: 0

/*Common elements*/

.c-centered
  width: 1000px
  margin: 0 auto

/*Pages*/

@import 'apps/footer'
@import 'apps/admin'