<div id="wrap">
    <header></header>
    <div id="main" class="c-centered"></div>
    <div id="push"></div>
</div>
<footer></footer>
<%= javascript_tag do %>

   (function(){
      Skin.start();
   })();

<% end %>